{
  "sourceMaps": true,
  "presets": [
    ["es2015", { "loose":true }],
    "stage-0"
  ],
  "plugins": [
    ["transform-decorators-legacy"],
    ["transform-runtime", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
    }],
    ["transform-react-jsx", { "pragma": "h" }]
  ]
}
