@keyframes loading {
  0% {left: -100%;}
  98% {left: 100%;}
  99% {opacity: 0;}
  100% {left: -100%; opacity: 1;}
}

.header {
	width: 100%;
	height: 56px;
	padding: 0;
  position: relative;
	background: #4e4e4e;
	z-index: 50;
  &.loading {
    &::after {
      content: '';
      position: absolute;
      bottom: -4px;
      left: 0%;
      width: 100%;
      height: 4px;
      background: linear-gradient(to right, #fff 0%,#3A67B7 94%,#fff 100%);
      animation-name: loading;
      animation-iteration-count: infinite;
      animation-duration: 1s;
    }
  }
  & h1 {
	  float: right;
	  margin: 0;
	  padding: 0 15px;
	  font-size: 24px;
	  line-height: 56px;
	  font-weight: 400;
	  color: #FFF;
  }
}


